.parallaximage {
    background-image: url("../../images/C-17Page.png");
    width: 100%; 
  
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
  }