
.article-container {
    grid-template-columns: repeat(auto-fill,minmax(700px,1fr));
    gap: 2rem;
    justify-content: center;
    align-items: center;

}
.article-card{
    background: rgba(187, 125, 0, 0.95);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,0.1);
    border-radius: 7px;
    transition: 0.3s;
    max-width: 1700px;
    align-items: center;
}


.article-content{
    padding: 2rem;
    align-items: center;
}
.article-image{
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: center;
}

.article-image img {
    max-width: 100%;
    width: 800px;
    border-radius: 7px 7px 0 0;
    align-items: center;
}
.parallaximage {
    background-image: url("../../images/Cartoonish_background.png");
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }