
.parallaximage {
    background-image: url("../../images/Cartoonish_background.png");
  }

.article-container {
    grid-template-columns: repeat(1,minmax(285px,1fr));
    justify-self: center;
    justify-content: center;
}

.article-card{
  background: rgba(187, 125, 0, 0.95);
  box-shadow: 0 4px 20px 0 rgba(0,0,0,0.1);
  border-radius: 7px;
  transition: 0.3s;
  margin: 5%;   
  max-width: 100%;
  min-width: 40%;
  justify-self: center;
  justify-content: center;
  align-items: center;
}
.article-content{
  padding: 2rem;
  align-content: center;
  justify-content: center;
  justify-items: auto;
  align-self: center;
  align-items: auto;
  justify-self: center;
}

.buttons b {
  -webkit-appearance: button;
  -moz-appearance: button;
  text-decoration: none;
  text-align: center;
  width: 100%;
  border:solid 3px rgb(255, 170, 0);
  color: white;
  padding: 10px 0;
  border-radius: 7px;
  background: rgba(0, 0, 0, 0);
  font-size: 20px;
  cursor: pointer;
  margin: 7px;
}

.buttons b:hover {
  color:rgb(255, 255, 255);
  box-shadow: 0 4px 20px 0 rgba(255, 170, 0,1);
  transition: 0.2s;
}