.container{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.9));
    background-position: top, -130px;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.article-container {
    grid-template-columns: repeat(auto-fill,minmax(700px,1fr));
    gap: 2rem;
    justify-content: center;
    align-items: center;

}
.article-card{
    background: rgba(187, 125, 0, 0.95);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,0.1);
    border-radius: 7px;
    transition: 0.3s;
    max-width: 1700px;
    align-items: center;
}

.article-card:hover {
    box-shadow: 0 4px 20px 0 rgba(255, 170, 0,1);
}
.article-content{
    padding: 2rem;
    align-items: center;
}
.article-image{
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: center;
}

.article-image img {
    max-width: 100%;
    width: 800px;
    border-radius: 7px 7px 0 0;
    align-items: center;
}
.parallaximage {
    background-image: url("../../images/Cartoonish_background.png");
    /* Set a specific height */
    height: 100%; 
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }